[submodule "data-miner"]
	path = data-miner
	url = https://github.com/ZeroRin/gfl-data-miner-python.git
	branch = main
	update = rebase
[submodule "data"]
	path = data
	url = https://github.com/gf-data-tools/gfl-data.git
	branch = main
	update = rebase
[submodule "resource_downloader"]
	path = resource_downloader
	url = https://github.com/gf-data-tools/gf-resource-downloader.git
	branch = main
	update = rebase
[submodule "gf-utils"]
	path = gf-utils
	url = https://github.com/gf-data-tools/gf-utils.git
	branch = main
	update = rebase
[submodule "anti-harmonization"]
	path = anti-harmonization
	url = https://github.com/gf-data-tools/anti-harmonization.git
	branch = main
	update = rebase
